.container {
  width: 100%;
  display: flex;
  justify-content: center;
  .wrapper-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1190px) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-content: space-around;
      align-items: center;
    }
  }
  .filters{
    padding: 10px 20px;
    border: 1px solid darkcyan;
    margin-left: 75px;
    border-radius: 20px;
    margin-top: 16px;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: lightcyan;
    }
    @media (max-width: 990px) {
      margin-left: 20px;
    }
  }
}
