.card {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  &-left {
    display: flex;
    margin-right: 15px;
    img {
      width: 185px;
      height: 278px;
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-description{
    font-size: 12px;
    text-align: justify;
    padding-right: 10px;
  }
}
