.container {
  width: 100%;
  display: flex;
  justify-content: center;
  .wrapper-content {
    width: 1200px;
    .card {
      display: flex;
      width: 50%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      &-left {
        margin-right: 15px;
        img {
          width: 185px;
          height: 278px;
        }
      }
      &-right {
        .card-text {
          font-size: 18px;
        }
      }
    }
  }
}
